.grid1 {
  display: grid;
  grid-template-columns: 200px 75px;
}

.blue-cell {
  background-color: lightblue;
}

.pink-cell {
  background-color: lightpink;
}

.grid2 {
  display: grid;
  grid-template-columns: 50px 1fr 75px;
}