body {
  font-family: Arial;
}

.flexbox1 {
  display: flex;
  flex-direction: row;
}

.blue-cell1 {
  background-color: lightblue;
  width: 200px;
}

.pink-cell1 {
  background-color: lightpink;
  width: 75px;
}

.flexbox2 {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.blue-cell50 {
  background-color: lightblue;
  width: 50px;
}

.pink-cell2 {
  background-color: lightpink;
  flex: 1;
}

.blue-cell75 {
  background-color: lightblue;
  width: 75px;
}

.flexbox3 {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  justify-content: space-between;
}

.pink-cell {
  background-color: lightpink;
}

.flexbox4 {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  height: 50px;
  border-color: gray;
  border-style: solid;
  border-width: 2px;
  justify-content: space-between;
  align-items: center;
}

.messenger-sidebar {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  border: solid rgb(204, 204, 204) 1px;
  border-radius: 8px;
}

.messenger-flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 22px;
}

.messenger-button {
  background-color: rgb(4, 114, 240);
  color: white;
  font-weight: bold;
  font-size: 22px;
  border: none;
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.search-flexbox {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(147, 84, 230);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
}

.home {
  color: white;
  font-weight: 700;
  font-size: 18px;
  width: 150px;
}

.search{
  flex: 1;
  max-width: 500px;
}

.searchbar {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-radius: 25px;
  border: none;
}

.download{
  width: 120px;
  margin-left: 70px;
}

.download-button {
  width: 100%;
  background-color: rgb(147, 84, 230);
  color: white;
  font-size: 18px;
  border: white solid 1px;
  border-radius: 3px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
}