.flexbox1 {
  display: flex;
  height: 50px;
}

.lightpink1 {
  background-color: lightpink;
  display: flex;
  width: 100px;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.item1 {
  background-color: black;
  color: white;
}

.lightblue1 {
  background-color: lightblue;
  width: 200px;
  flex: 2;
}

.flexbox2 {
  margin-top: 30px;
  display: flex;
  height: 50px;
}

.lightpink2 {
  background-color: lightpink;
  width: 100px;
}

.lightblue2 {
  background-color: lightblue;
  width: 200px;
  flex: 1;
}

.row1 {

}

.row2 {

  display: flex;
  justify-content: space-between;
}

.item2 {
  background-color: black;
  color: white;
}

.gmail-flexbox {
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 30px;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  font-family: Arial;
}

.mailbox-header {
  color: gray;
  font-size: 18px;
  margin-bottom: 10px;
}

.email-preview {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.sender-profile-pic {
  object-position: relative;
  overflow: hidden;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.profile-thumbnail {
  height: 100%;
  margin-left: -10px;
}

.email-info {
  flex: 1;
  margin-left: 10px;
}

.email-sender {
  font-size: 18px;
  font-weight: 700;
}

.email-subject {
  font-size: 16px;
  font-weight: 700;
}

.email-body-preview {
  font-size: 14px;
  font-weight: 500;
  color: gray;
}

.timestamp {
  margin-bottom: 30px;
  color: gray;
}

.twitter-post {
  margin-top: 50px;
  display: flex;
  font-family: Arial;
}

.user-image {
  object-position: relative;
  overflow: hidden;
  height: 50px;
  width: 50px;
  border-radius: 25px;
}

.user-thumbnail {
  height: 100%;
  margin-left: -10px;
}

.post-content {
  flex: 1;
  margin-left: 15px;
}

.user-header {
  display: flex;
}

.username {
  font-weight: 700;
  margin-right: 5px;
}

.twitter-handle {
  color: gray;
}

.message-contents {
  max-width: 500px;
  line-height: 25px;
}

.media-preview {
  margin-top: 15px;
  border: solid 2px rgb(200, 200, 200);
  border-radius: 20px;
  height: 100px;
  display: flex;
  max-width: 500px;
}

.preview-image {
  flex: 1;
  background-color: rgb(200, 200, 200);
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.video-details {
  flex: 3;
  line-height: 25px;
  padding-top: 10px;
  padding-left: 20px;
}

.video-url {
  display: block;
  color: gray;
  flex: 1;
}

.video-description {
  display: block;
}