.flexbox1 {
  display: flex;
  height: 50px;
}

.lightpink1 {
  background-color: lightpink;
  display: flex;
  width: 100px;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.item1 {
  background-color: black;
  color: white;
}

.lightblue1 {
  background-color: lightblue;
  width: 200px;
  flex: 2;
}

.flexbox2 {
  margin-top: 30px;
  display: flex;
  height: 50px;
}

.lightpink2 {
  background-color: lightpink;
  width: 100px;
}

.lightblue2 {
  background-color: lightblue;
  width: 200px;
  flex: 1;
}

.row1 {

}

.row2 {

  display: flex;
  justify-content: space-between;
}

.item2 {
  background-color: black;
  color: white;
}

.gmail-flexbox {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 30px;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  font-family: Arial;
}

.mailbox-header {
  color: gray;
  font-size: 18px;
  margin-bottom: 10px;
}

.email-preview {
  display: flex;
  align-items: center;
}

.sender-profile-pic {
  object-position: relative;
  overflow: hidden;
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.profile-thumbnail {
  height: 100%;
  margin-left: -10px;
}