.flexbox1 {
  display: flex;
  height: 50px;
}

.lightpink1 {
  background-color: lightpink;
  display: flex;
  width: 100px;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.item1 {
  display: flex;
  background-color: black;
  color: white;
}

.lightblue1 {
  background-color: lightblue;
  width: 200px;
  flex: 2;
}