body {
  height: 3000px;
}

.scroll-text {
  background-color: black;
  color: white;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.green-sidebar {
  background-color: green;
  color: white; 
  position: fixed;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 100px;
}

.blackout {
  background-color: black;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}