body {
  height: 3000px;
}

.close-button {
  background-color: black;
  color: white;
  font-family: Arial;
  font-weight: 700;
  font-size: 32px;
  position: absolute;
  left: -18px;
  top: -28px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 100%;
  border: none;
  cursor: pointer;
}

.gray-box {
  background-color: gray;
  width: 320px;
  height: 180px;
  position: fixed;
  bottom: 15px;
  right: 15px;
}