.Uber_button {
  color: white;
  background-color: black;
  height: 36px;
  border: none;
  width: 110px;
  transition:opacity 0.15s;
}

.Uber_button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.Amazon_button {
  color: black;
  background-color: rgb(255, 216, 20);
  height: 32px;
  width: 150px;
  border-radius: 16px;
  border: none;
  transition: background-color 0.15s;
}

.Amazon_button:hover {
  background-color: rgb(255, 181, 20);
  cursor: pointer;
}

.LinkedIn_save_button {
  background-color: white;
  color: rgb(10, 102, 194);
  font-weight: bold;
  height: 36px;
  width: 80px;
  border-style: solid;
  border-color: rgb(10, 102, 194);
  border-radius: 18px;
  border-width: 1.5px;
  transition: background-color 0.15s;
}

.LinkedIn_save_button:hover {
  cursor: pointer;
  background-color: rgba(134, 205, 238, 0.2);
  border-width: 2px;
}

.Github_button {
  background-color: rgb(50, 194, 105);
  color:rgb(255, 255, 255);
  font-weight: bold;
  height: 36px;
  width: 90px;
  border-radius: 8px;
  border: none;
  transition: box-shadow 0.2s;
}

.Github_button:hover {
  cursor: pointer;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}  

.Bootstrap_get_started_button {
  background-color: rgb(168, 83, 248);
  color: white;
  font-weight: bold;
  height: 36px;
  width: 90px;
  border: none;
  border-radius: 3px;
  transition: background-color 0.15s;
}

.Bootstrap_get_started_button:hover {
  background-color: rgb(104, 38, 165);
  cursor: pointer;
}

.Bootstrap_download_button {
  background-color: white;
  color: rgb(109, 108, 108);
  font-weight: bold;
  height: 36px;
  width: 90px;
  border-radius: 3px;
  border-width: 1.5px;
  border-style: solid;
  border-color: rgb(109, 108, 108) ;
  transition: background-color 0.2s;
  transition: color 0.2s;
}

.Bootstrap_download_button:hover {
  cursor: pointer;
  background-color: rgb(128, 128, 128);
  color: white;
  border: none;
}