p {
  margin: 0px;
}
.red-box {
  background-color: red;
  height: 100px;
  width: 100px;
  display: inline-block;
}

.green-circle {
  background-color: green;
  height: 100px;
  width: 100px;
  display: inline-block;
  border-radius: 100%;
}

.survey {
  font-family: Arial;
  font-size: 18px;
  border: solid 1px gray;
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  width: 300px;
}

.yes-no-button {
  margin-top: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
}