p {
  margin: 0px;
}
.red-box {
  background-color: red;
  height: 100px;
  width: 100px;
  display: inline-block;
}

.green-circle {
  background-color: green;
  height: 100px;
  width: 100px;
  display: inline-block;
  border-radius: 100%;
}

.survey {
  font-family: Arial;
  font-size: 18px;
  border: solid 1px gray;
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  width: 300px;
}

.yes-no-button {
  margin-top: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
}

.youtube-music {
  font-family: Arial;
  margin-top: 20px;
  background-color: rgb(43, 43, 43);
  width: 400px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

.youtube-music-title {
  font-size: 28px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}

.youtube-music-desc {
  font-size: 18px;
  color: rgb(165, 164, 164);
}