.grid1 {
  display: grid;
  grid-template-columns: 200px 75px;
}

.blue-cell {
  background-color: lightblue;
}

.pink-cell {
  background-color: lightpink;
}

.grid2 {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 50px 1fr 75px;
}

.grid3 {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 10px;
}

p {
  font-family: Arial;
  margin-top: 0px;
  margin-bottom: 0px;
}

.single-friend-box {
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 0px;
  margin-right: 10px;
  width: 200px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.profile-pic {
  height: 220px;
  width: 200px;
  object-fit: cover;
  margin-bottom: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.profile-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.mutual-friend-count {
  display: inline-block;
  font-size: 16px;
  color: gray;
  margin-bottom: 10px;
  width: 200px;
}

.add-friend-button {
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 18px;
  font-size: 15px;
  color: white;
  background-color: rgb(0, 132, 255);
  border: none;
  border-radius: 5px;
}

.profile-name, .mutual-friend-count
, .add-friend-button {
  margin-left: 10px;
}

.follower-thumbnail {
  display: inline-block;
  overflow: hidden;
  position: relative;
  height: 33px;
  width: 33px;
  border-radius: 50%;
}

.follower-image {
  width: auto;
  height: 100%;
  margin-left: -40%;
}

.mutual-text {
  display: inline-block;
  width: 70%;
  vertical-align: top;
  padding-top: 10px;
}