p {
  font-family: 'Roboto', sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
}
.video-title {
  font-size: 18px;
  font-weight: bold;
  width: 280px;
  line-height: 24px;
}

.view-count {
  font-size: 14px;
  color: #606060;
  margin-top: 5px;
}

.video-author {
  color: #606060;
  font-size: 14px;
  margin-top: 23px;
}

.video-description {
  font-size: 14px;
  color:#606060;
  width: 280px;
  line-height: 22px;
  margin-top: 18px;
  margin-bottom: 100px;
}

.apple-shopping {
  font-size: 14px;
  background-color: #e34140;
  color: white;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
}

.shop-link {
cursor: pointer;
  margin-left: 0px;
}

.shop-link:hover {
  text-decoration: underline;
}