p {
  font-family: Arial;
}

.thumbnail {
  width: 300px;
  display: block;
}
.search-bar {
  display: block;
}

.video-preview {
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
  margin-top: 15px;
}

.video-title {
  width: 300px;
  font-weight: bold;
}

.video-author, .video-stats {
  color: gray;
  font-size: 14px;
}